
.location-search-results ul {
  padding: 0;
}

.location-search-results li {
  list-style-type: none;
}


.location-search-result {
  background: #eee;
  color: #333;
  cursor: pointer;
  padding: 2px 10px;
}

.location-search-result.highlighted {
  background-color: #cacaca;
}
